<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	    <link rel="icon" href="../../favicon.ico">
	    <title>Signin Template for Bootstrap</title>

	    <!-- Custom styles for this template -->
	    <link href="signin.css" rel="stylesheet">
		<style>
		
			body { 
			    background-image: url('http://www.wallpapersgalaxy.com/wp-content/uploads/2013/08/93.jpg');
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			}
			#navbar{
			  background-color: #D1D1D1;
			  padding-right: 50px;
			}

			#topbar{
			  background-color: #D1D1D1;
			}

			#bodyelement{
			  margin-top: 3%;
			  padding-top: 70px;
			  height:120%;
			  width: 90%;
			  color: black;
			  background-color: #FBFBFB;
			  opacity: 0.85;
			}

			#edit_product{
				color: white;
			}
			
			#grey{
				background-color: #FBFBFB;
			}

			#photo{
				height:150px;
				width:150px;
			}
		</style>

	</head>
	<body>
		<nav class="navbar navbar-default" >
		      <div class="container-fluid">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#">Room-Mating</a>
		        </div>

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		          <ul class="nav navbar-nav">
		            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
		            <li><a href="#">Search</a></li>
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		          	<li><a href="/listing/profile">My Profile</a></li>
		            <li><a href="/listing/inbox">Inbox(4)</a></li>
		            <li><a href="/listing/logoff">Log Out</a></li>
		          </ul>
		        </div><!-- /.navbar-collapse -->
		      </div><!-- /.container-fluid -->
		    </nav>
		<div id="bodyelement" class='container'>
			<div class="row">
			   <div class="col-sm-offset-2 col-sm-2 ">
				  <img id= "photo" src="http://www.drroyspencer.com/wp-content/uploads/Kim-Jung-Un.jpg" alt="..." class="img-circle">
				  </div>
				  <div class="col-sm-4 "> 
				  <h1>Un John Kim</h1>
				  <h3>Age: 47</h3>
				  <h3>Location: DPRK</h3>
				  <p>About Me:</p>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<form id = "user/add_message" role="form" method="post">
					  <h3> Send Me a Message </h3>
					  <textarea class="form-control" rows="3"></textarea></br>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			  </div>
			</div>	
	</body>	
</html>
